{% extends 'base.html' %}

{% block content %}


<article>
    <header>
        <h1>{{ game['nome'] }}</h1>
        <h2>Numero massimo di giocatori: {{ game['numero_giocatori_massimo'] }}</h2>
        <h2>Durata media: {{ game['durata_media']  }} minuti</h2>
        <h2>Categoria: {{ game['categoria']}}</h2>
    </header>
</article>

<body>
    <a href="{{ url_for('main.get_partita', id=game['id']) }}">Partite</a>
    <a href="{{ url_for('main.partita_create', id = game['id']) }}">Crea Partita</a>
</body>
<hr>
<a href="{{ url_for('main.index') }}">Torna ai giochi</a>
{% endblock %}